@use "../utilities" as *;

.profile,
.education,
.work {
  &__title {
    font-size: fs(large);
    font-weight: fw(regular);
    line-height: 1.34375;
    border-bottom: 1px solid clr(neutral, 900);
  }

  &__subtitle {
    font-size: fs(medium);
    font-weight: fw(medium);
    color: clr(primary, 400);
  }

  &__list {
    padding-bottom: sp(8);
  }

  &__item:first-child {
    padding: sp(2) 0 sp(3);
  }
}

.work {
  &__list {
    width: rem(642px);
    margin-left: sp(3);
  }

  &__item {
    padding: 0 0 sp(3) sp(3);
    border-left: 1px solid clr(secondary, 300);

    &:first-child {
      padding: 0 0 sp(3) sp(3);
      margin-top: sp(2);
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__info {
    font-size: fs(normal);    
  }
}

.skill,
.contact {
  text-align: center;
  white-space: nowrap;
  margin-bottom: sp(8);
  color: clr(neutral, 100);
  background-color: clr(secondary, 400);
 
  &__title {
    font-size: fs(large);
    line-height: 1.40625;
    border-bottom: 1px solid clr(neutral, 100);
    padding-top: sp(3);
  }

  &__subtitle {
    font-size: fs(medium);    
  }

  &__list {
    width: rem(212px);
    margin-inline: auto;      
    padding: sp(6) 0 sp(5);
  }

  &__item {
    font-weight: fw(light);
    padding: 0 0 sp(2) sp(3);
    border-left: 1px solid clr(secondary, 300);
  }
}

.contact {
  &__list {
    width: 100%;
  }

  &__item {
    border-left: 0;  
    
    &:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    color: clr(neutral, 100);
    text-decoration: none;

    &:hover {
      color: clr(secondary, 400);
      background-color: clr(neutral, 100);
    }
  }
}